@use "functions" as *;
@use "variables" as *;

/* General body styling */
body {
  position: relative; /* Ensures the body is positioned relative to its normal flow */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  // align-items: center; /* Centers content vertically */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  font-family: $font-family;
  font-style: normal;
  line-height: normal;
  background: white;
  font-feature-settings:
    "liga" off,
    "clig" off;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
  body {
    min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
  }
}

// Mobile First Approach

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

/* Overlay styles */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00001a; /* Dark blue background */
  opacity: 0.5;
  z-index: 1;
  transition: opacity 0.3s ease;
}

#overlay.d-none {
  opacity: 0;
  pointer-events: none; /* Disable interaction when hidden */
}

#overlay.d-flex {
  opacity: 0.5;
  pointer-events: auto; /* Enable interaction when visible */
}

main {
  &.container {
    padding: rem(28px) 1rem rem(75px) 1rem;
    position: relative;
    nav {
      &.navigation {
        margin-bottom: rem(32px);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links {
          display: none;
        }

        .mobile-menu {
          display: block;
          border-style: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .mobile_nav {
      background: white;
      padding: rem(27.3px) rem(20.8) 0 rem(24px);
      flex-direction: column;
      row-gap: rem(86.3px);
      position: absolute;
      top: 0;
      right: 0;
      width: rem(256px);
      height: 100%;
      z-index: 2;
      transition: transform 0.3s ease;

      &.d-none {
        transform: translateX(-100%); /* Hide menu off-screen */
      }

      &.d-flex {
        transform: translateX(0); /* Show menu */
      }

      button#close-menu {
        background: none;
        border: none;
        float: right;
        width: rem(30.406px);
        height: rem(30.406px);
        &:hover {
          cursor: pointer;
        }
      }

      .links {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: rem(24px);
        list-style-type: none;

        li {
          font-size: rem(18px);
          font-weight: 400;
          line-height: 26px; /* 173.333% */

          a {
            color: $dark-space-blue;
            text-decoration: none;

            &:hover {
              color: $light-vermillion;
              cursor: pointer;
            }
          }
        }
      }
    }

    .hero_wrapper {
      display: flex;
      flex-direction: column;
      row-gap: rem(64px);
      margin-bottom: rem(64px);

      .content {
        display: flex;
        flex-direction: column;
        row-gap: rem(24px);
        .desktop {
          display: none;
        }

        .mobile {
          height: rem(300px);
        }

        .headline {
          display: flex;
          flex-direction: column;

          .title {
            color: $dark-space-blue;
            font-size: 40px;
            font-weight: 800;
            line-height: 40px; /* 100% */
          }

          .subtitle {
            color: $gunmetal;
            font-size: 15px;
            font-weight: 400;
            line-height: 26px; /* 173.333% */
            margin-bottom: rem(24px);
          }

          button {
            background-color: $light-vermillion;
            border-style: none;
            font-size: rem(14px);
            font-weight: 700;
            line-height: 24px; /* 171.429% */
            letter-spacing: 4.375px;
            padding: rem(12px);
            text-transform: uppercase;
            width: 185px;
            height: 48px;

            &:hover {
              background-color: $dark-space-blue;
              color: $almost-white;
              cursor: pointer;
            }
          }
        }
      }
      .side_column {
        background-color: $dark-space-blue;
        padding: rem(24px) rem(20px);

        .title {
          color: $yellow;
          font-size: 32px;
          font-weight: 700;
          line-height: 32px; /* 100% */
          margin-bottom: rem(35px);
        }

        .article {
          h3 {
            color: $almost-white;
            font-size: 20px;
            font-weight: 800;
            line-height: 24px; /* 120% */
            margin-bottom: rem(8px);
          }

          p {
            color: $silver;
            font-size: 15px;
            font-weight: 400;
            line-height: 26px; /* 173.333% */
          }
        }

        .divider {
          height: 1px;
          background-color: $gunmetal;
          margin-top: rem(29px);
          margin-bottom: rem(31px);
          border-style: none;
        }
      }
    }

    .blog-tile_wrapper {
      display: flex;
      flex-direction: column;
      row-gap: rem(32px);

      .tile {
        display: flex;
        column-gap: rem(24px);
        flex: 1;

        img {
          width: rem(100px);
          height: rem(127px);
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h4 {
            color: $light-vermillion;
            font-size: 32px;
            font-weight: 700;
            line-height: 32px; /* 100% */
          }

          h5 {
            color: $dark-space-blue;
            font-size: 18px;
            font-weight: 800;
            line-height: 24px; /* 133.333% */

            &:hover {
              color: $light-vermillion;
              cursor: pointer;
            }
          }

          p {
            color: $gunmetal;
            font-size: 15px;
            font-weight: 400;
            line-height: 26px; /* 173.333% */
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    &.container {
      nav {
        &.navigation {
          margin-bottom: rem(32px);
          display: flex;
          align-items: center;
          justify-content: space-between;

          .links {
            display: flex;
            column-gap: rem(40px);
            list-style-type: none;

            li {
              font-size: rem(15px);
              font-weight: 400;
              line-height: 26px; /* 173.333% */

              a {
                color: $gunmetal;
                text-decoration: none;

                &:hover {
                  color: $light-vermillion;
                  cursor: pointer;
                }
              }
            }
          }

          .mobile-menu {
            display: none;
          }
        }
      }

      .mobile_nav {
        display: none;
      }

      .hero_wrapper {
        column-gap: rem(30px);
        margin-bottom: rem(72px);
        .content {
          .desktop {
            display: block;
            width: 100%;
            height: 300px;
          }

          .mobile {
            display: none;
          }

          .headline {
            flex-direction: row;
            column-gap: rem(30px);

            .title {
              flex: 1;
              font-size: 56px;
              line-height: 56px;
            }

            div {
              flex: 1;
            }
          }
        }

        .side_column {
          flex: 1;
        }
      }

      .blog-tile_wrapper {
        flex-direction: row;
        column-gap: rem(30px);

        .tile {
          display: flex;
          column-gap: rem(24px);
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1440px) {
  main {
    &.container {
      padding: 0;
      padding-top: rem(89px);
      padding-bottom: rem(130px);
      width: rem(1110px);

      nav {
        &.navigation {
          margin-bottom: rem(55.1px);
        }
      }
      .hero_wrapper {
        flex-direction: row;
        .content {
          flex: 1;
          row-gap: rem(28px);

          .desktop {
            display: block;
            width: 730px;
          }

          .mobile {
            display: none;
          }

          .headline {
            div {
              .subtitle {
                margin-bottom: rem(29px);
              }
            }
          }
        }

        .side_column {
          flex: 1;
          width: rem(350px);
          height: rem(511px);
          padding: rem(32px) rem(24px);

          .article {
            width: 100%;
          }
        }
      }
    }
  }
}
