@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-VariableFont_slnt_wght.ttf);
}
/* General body styling */
body {
  position: relative; /* Ensures the body is positioned relative to its normal flow */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  font-family: "Inter";
  font-style: normal;
  line-height: normal;
  background: white;
  font-feature-settings: "liga" off, "clig" off;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
  body {
    min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
  }
}
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

/* Overlay styles */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00001a; /* Dark blue background */
  opacity: 0.5;
  z-index: 1;
  transition: opacity 0.3s ease;
}

#overlay.d-none {
  opacity: 0;
  pointer-events: none; /* Disable interaction when hidden */
}

#overlay.d-flex {
  opacity: 0.5;
  pointer-events: auto; /* Enable interaction when visible */
}

main.container {
  padding: 1.75rem 1rem 4.6875rem 1rem;
  position: relative;
}
main.container nav.navigation {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.container nav.navigation .links {
  display: none;
}
main.container nav.navigation .mobile-menu {
  display: block;
  border-style: none;
}
main.container nav.navigation .mobile-menu:hover {
  cursor: pointer;
}
main.container .mobile_nav {
  background: white;
  padding: 1.70625rem 1.3rem 0 1.5rem;
  flex-direction: column;
  row-gap: 5.39375rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 16rem;
  height: 100%;
  z-index: 2;
  transition: transform 0.3s ease;
}
main.container .mobile_nav.d-none {
  transform: translateX(-100%); /* Hide menu off-screen */
}
main.container .mobile_nav.d-flex {
  transform: translateX(0); /* Show menu */
}
main.container .mobile_nav button#close-menu {
  background: none;
  border: none;
  float: right;
  width: 1.900375rem;
  height: 1.900375rem;
}
main.container .mobile_nav button#close-menu:hover {
  cursor: pointer;
}
main.container .mobile_nav .links {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1.5rem;
  list-style-type: none;
}
main.container .mobile_nav .links li {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
}
main.container .mobile_nav .links li a {
  color: #00001a;
  text-decoration: none;
}
main.container .mobile_nav .links li a:hover {
  color: #f15d51;
  cursor: pointer;
}
main.container .hero_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin-bottom: 4rem;
}
main.container .hero_wrapper .content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
main.container .hero_wrapper .content .desktop {
  display: none;
}
main.container .hero_wrapper .content .mobile {
  height: 18.75rem;
}
main.container .hero_wrapper .content .headline {
  display: flex;
  flex-direction: column;
}
main.container .hero_wrapper .content .headline .title {
  color: #00001a;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px; /* 100% */
}
main.container .hero_wrapper .content .headline .subtitle {
  color: #5e607a;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
  margin-bottom: 1.5rem;
}
main.container .hero_wrapper .content .headline button {
  background-color: #f15d51;
  border-style: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 4.375px;
  padding: 0.75rem;
  text-transform: uppercase;
  width: 185px;
  height: 48px;
}
main.container .hero_wrapper .content .headline button:hover {
  background-color: #00001a;
  color: #fffdfa;
  cursor: pointer;
}
main.container .hero_wrapper .side_column {
  background-color: #00001a;
  padding: 1.5rem 1.25rem;
}
main.container .hero_wrapper .side_column .title {
  color: #e9aa52;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px; /* 100% */
  margin-bottom: 2.1875rem;
}
main.container .hero_wrapper .side_column .article h3 {
  color: #fffdfa;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px; /* 120% */
  margin-bottom: 0.5rem;
}
main.container .hero_wrapper .side_column .article p {
  color: #c5c6ce;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
}
main.container .hero_wrapper .side_column .divider {
  height: 1px;
  background-color: #5e607a;
  margin-top: 1.8125rem;
  margin-bottom: 1.9375rem;
  border-style: none;
}
main.container .blog-tile_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
main.container .blog-tile_wrapper .tile {
  display: flex;
  column-gap: 1.5rem;
  flex: 1;
}
main.container .blog-tile_wrapper .tile img {
  width: 6.25rem;
  height: 7.9375rem;
}
main.container .blog-tile_wrapper .tile .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main.container .blog-tile_wrapper .tile .content h4 {
  color: #f15d51;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px; /* 100% */
}
main.container .blog-tile_wrapper .tile .content h5 {
  color: #00001a;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px; /* 133.333% */
}
main.container .blog-tile_wrapper .tile .content h5:hover {
  color: #f15d51;
  cursor: pointer;
}
main.container .blog-tile_wrapper .tile .content p {
  color: #5e607a;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
}

@media screen and (min-width: 768px) {
  main.container nav.navigation {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main.container nav.navigation .links {
    display: flex;
    column-gap: 2.5rem;
    list-style-type: none;
  }
  main.container nav.navigation .links li {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
  }
  main.container nav.navigation .links li a {
    color: #5e607a;
    text-decoration: none;
  }
  main.container nav.navigation .links li a:hover {
    color: #f15d51;
    cursor: pointer;
  }
  main.container nav.navigation .mobile-menu {
    display: none;
  }
  main.container .mobile_nav {
    display: none;
  }
  main.container .hero_wrapper {
    column-gap: 1.875rem;
    margin-bottom: 4.5rem;
  }
  main.container .hero_wrapper .content .desktop {
    display: block;
    width: 100%;
    height: 300px;
  }
  main.container .hero_wrapper .content .mobile {
    display: none;
  }
  main.container .hero_wrapper .content .headline {
    flex-direction: row;
    column-gap: 1.875rem;
  }
  main.container .hero_wrapper .content .headline .title {
    flex: 1;
    font-size: 56px;
    line-height: 56px;
  }
  main.container .hero_wrapper .content .headline div {
    flex: 1;
  }
  main.container .hero_wrapper .side_column {
    flex: 1;
  }
  main.container .blog-tile_wrapper {
    flex-direction: row;
    column-gap: 1.875rem;
  }
  main.container .blog-tile_wrapper .tile {
    display: flex;
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  main.container {
    padding: 0;
    padding-top: 5.5625rem;
    padding-bottom: 8.125rem;
    width: 69.375rem;
  }
  main.container nav.navigation {
    margin-bottom: 3.44375rem;
  }
  main.container .hero_wrapper {
    flex-direction: row;
  }
  main.container .hero_wrapper .content {
    flex: 1;
  }
  main.container .hero_wrapper .content .desktop {
    display: block;
    width: 730px;
  }
  main.container .hero_wrapper .content .mobile {
    display: none;
  }
  main.container .hero_wrapper .side_column {
    flex: 1;
    width: 21.875rem;
    height: 31.9375rem;
    padding: 2rem 1.5rem;
  }
  main.container .hero_wrapper .side_column .article {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
